* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/background.svg);
  background-size: 100%;
}

@font-face {
  font-family: "Hauora";
  src:
    url(fonts/web/Hauora-ExtraBold.woff2) format("woff2"),
    url(fonts/web/Hauora-ExtraBold.woff) format("woff");
}

p {
  font-family: "Hauora";
}

.first {
  background-image: url(../images/sun.svg);
  width: 32vw;
  height: 32vw;
  background-size: 32vw 32vw;
  position: absolute;
  left: 66.7vw;
}

.letter1 {
  position: absolute;
  animation: letter1 4s forwards;
  top: 8.5vw;
  left: -64vw;
}
.letter2 {
  position: absolute;
  top: 8.5vw;
  left: -54vw;
  animation: letter2 4s forwards;
}
.letter3 {
  position: absolute;
  top: 8.5vw;
  left: -44vw;
  animation: letter3 4s forwards;
}
.letter4 {
  position: absolute;
  top: 8.5vw;
  left: -34vw;
  animation: letter4 4s forwards;
}
.letter5 {
  position: absolute;
  top: 8.5vw;
  left: -24vw;
  animation: letter5 4s forwards;
}
.letter6 {
  position: absolute;
  top: 8.5vw;
  left: -14vw;
}
.letter7 {
  position: absolute;
  top: 8.5vw;
  left: -4vw;
  animation: letter7 4s forwards;
}
.letter8 {
  position: absolute;
  top: 22vw;
  left: -64vw;
  animation: letter8 4s forwards;
}
.letter9 {
  position: absolute;
  top: 22vw;
  left: -54vw;
}
.letter10 {
  position: absolute;
  top: 22vw;
  left: -44vw;
  animation: letter10 4s forwards;
}
.letter11 {
  position: absolute;
  top: 22vw;
  left: -34vw;
  animation: letter11 4s forwards;
}

.card1 {
  background-image: url(../images/card1.svg);
  width: 90vw;
  height: 50vw;
  background-size: 90vw 50vw;
  position: absolute;
  top: 42vw;
  left: 4%;
}

.ball {
  width: 10vw;
  height: 10vw;
  position: relative;
  top: 25vw;
  left: 40vw;
  z-index: 3;
  /* top: -20vw;
  left: 60vw; */
}
.ball.animate {
  animation: ball 4s forwards;
}

.window {
  display: none;
  width: 19.26vw;
  height: 30.6vw;
  position: relative;
  top: -15vw;
  left: 70vw;
}
.football {
  display: none;
  width: 35vw;
  height: 35vw;
  position: relative;
  top: -18vw;
  left: 53vw;
}

.question1 {
  font-size: 1.6vw;
  width: 40vw;
  height: 7vw;
  position: relative;
  top: 18vw;
  left: 10vw;
  line-height: 2.2vw;
}
.answer1 {
  font-size: 1.2vw;
  width: 4vw;
  height: 1.5vw;
  position: relative;
  top: 22vw;
  left: 12vw;
  cursor: pointer;
}
.answer2 {
  font-size: 1.2vw;
  width: 15vw;
  height: 1.5vw;
  position: relative;
  top: 24vw;
  left: 12vw;
  cursor: pointer;
}

.card2 {
  background-image: url(../images/card2.svg);
  width: 90vw;
  height: 50vw;
  background-size: 90vw 50vw;
  position: absolute;
  top: 102vw;
  left: 4%;
}

.leg {
  width: 32vw;
  height: 32vw;
  position: absolute;
  top: 9vw;
  left: 55vw;
}
.mleg {
  width: 32vw;
  height: 32vw;
  position: absolute;
  top: 9vw;
  left: 55vw;
  display: none;
}
.book {
  width: 32vw;
  height: 32vw;
  position: absolute;
  top: 9vw;
  left: 50vw;
  display: none;
}

.question2 {
  font-size: 1.6vw;
  width: 36vw;
  height: 7vw;
  position: relative;
  top: 18vw;
  left: 10vw;
  line-height: 2.2vw;
}
.answer3 {
  font-size: 1.2vw;
  width: 7vw;
  height: 1.5vw;
  position: relative;
  top: 22vw;
  left: 12vw;
  cursor: pointer;
}
.answer4 {
  font-size: 1.2vw;
  width: 15vw;
  height: 1.5vw;
  position: relative;
  top: 24vw;
  left: 12vw;
  cursor: pointer;
}
.black-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6vw;
  font-family: Hauora;
}

.card3 {
  background-image: url(../images/card3.svg);
  width: 90vw;
  height: 50vw;
  background-size: 90vw 50vw;
  position: absolute;
  top: 162vw;
  left: 4%;
}

.tree {
  width: 32vw;
  height: 32vw;
  position: absolute;
  top: 1vw;
  left: 30vw;
  display: block;
}
.cherv {
  width: 32vw;
  height: 32vw;
  position: absolute;
  top: -1vw;
  left: 30vw;
  display: none;
}
.people {
  width: 25vw;
  height: 25vw;
  position: absolute;
  top: 4vw;
  left: 30vw;
  display: none;
}

.question3 {
  font-size: 1.6vw;
  width: 55vw;
  height: 7vw;
  position: relative;
  top: 29vw;
  left: 10vw;
  line-height: 2.2vw;
}
.answer5 {
  font-size: 1.2vw;
  width: 15vw;
  height: 1.5vw;
  position: relative;
  top: 33vw;
  left: 12vw;
  cursor: pointer;
}
.answer6 {
  font-size: 1.2vw;
  width: 15vw;
  height: 1.5vw;
  position: relative;
  top: 31.5vw;
  left: 60vw;
  cursor: pointer;
}

.bell {
  background-image: url(../images/bell.svg);
  width: 33vw;
  height: 26vw;
  background-size: 33vw 26vw;
  position: absolute;
  top: 216vw;
  left: 32vw;
}

.bell:hover {
  animation: bell 2s infinite;
}

.card4 {
  background-image: url(../images/card4.svg);
  width: 90vw;
  height: 50vw;
  background-size: 90vw 50vw;
  position: absolute;
  top: 235vw;
  left: 4%;
}
.question4 {
  font-size: 1.6vw;
  width: 55vw;
  height: 7vw;
  position: relative;
  top: 20vw;
  left: 10vw;
  line-height: 2.2vw;
}
.answer7 {
  font-size: 1.2vw;
  width: 15vw;
  height: 1.5vw;
  position: relative;
  top: 24vw;
  left: 12vw;
  cursor: pointer;
}
.answer8 {
  font-size: 1.2vw;
  width: 18vw;
  height: 1.5vw;
  position: relative;
  top: 22.5vw;
  left: 60vw;
  cursor: pointer;
}

.drawing {
  position: absolute;
  top: 45vw;
  left: 10vw;
  width: 70vw;
  height: 40vw;
  background: white;
  border: 0.2vw solid #333232;
  cursor: crosshair;
}

.answer9 {
  position: relative;
  font-size: 1.2vw;
  width: 18vw;
  height: 1.5vw;
  top: 80vw;
  left: 49%;
  cursor: pointer;
}

.wall {
  background-image: url(../images/wall.svg);
  width: 98.5vw;
  height: 66vw;
  background-size: 98.5vw 66vw;
  position: absolute;
  top: 350vw;
}
.picture {
  position: relative;
  font-size: 1.6vw;
  width: 60vw;
  height: 1.5vw;
  top: -2vw;
  left: 20%;
  line-height: 2.2vw;
}

.milana {
  position: relative;
  top: 60vw;
  padding: 1vw;
}
