* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/background.svg);
}

section {
  width: 100%;
}

@font-face {
  font-family: Hauora;
  src:
    url(fonts/web/Hauora-ExtraBold.woff2) format("woff2"),
    url(fonts/web/Hauora-ExtraBold.woff) format("woff");
}

p {
  font-family: Hauora;
}
